@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

body{
    background: #efc2a8;
}
.input{
    margin-top: -30px;
    position: absolute;
    margin-left: 61%;
    border-radius: 5px;
}
.button{
    border-radius: 50%;
    height: 100px;
    width: 150px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    cursor: pointer;
    color: #e0e0e0;
    font-weight: bold;
    background-color: green;
    border: 1px solid green;
    font-family: "Trebuchet MS";
    font-size: 21px;
    border: green;
    font-family: Consolas;
    box-shadow: -1px 4px 11px 2px rgba(100, 100, 100, 0.3);
    border: #036d08 solid;
}
#text{
    margin:10px;
    background-color: #e7ed91;
    color: #807575;
    font-family: bold;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    height: 45px;
    width: 290px;
    border: 1px solid #c89d01;
    border-radius: 4px;
    font-family:Consolas;
    box-shadow: -1px 2px 5px 1px rgba(118, 83, 5, 0.7);
    font-weight: bold;
}
.blockMainLeft{
    height: 700px;
    width: 585px;
    background-color: #c82727;
    margin-left: 180px;
    border-radius: 15px;
    box-shadow: 5px 12px 37px #020101;
}
.blockMainRight{
    justify-content: right;
    height: 560px;
    width: 570px;
    background-color: #c82727;
    margin-right: 66px;
    border-radius: 15px;
    margin-top: 140px;
    box-shadow: 5px 12px 37px #020101;
}
.blockMain {
    display: flex;
    margin-top: 30px;
    position: absolute;
}
.squareMain{
    margin-left: 14%;
    margin-top: 1%;
    display: flex;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: white;
    position: absolute;
}
.squareInside{
    margin-left: 6%;
    margin-top: 5%;
    display: flex;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    background-color: #1C9AD6;
    position: absolute;
}
#squareInsideBottom{
    margin-left: 37%;
    margin-top: 70%;
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
}
.squareInsideTop{
    margin-left: 26%;
    margin-top: 10%;
    display: flex;
    border-radius: 57%;
    width: 66px;
    height: 38px;
    background-color: #33B9E3;
    position: absolute;
}
.blockMainInsideTop{
    height: 200px;
    width: 585px;
    background-color: #c82727;
    border-radius: 15px;
}
.blockMainInsideInsideTop{
    height: 100px;
    width: 586px;
    background-color: #c82727;
    border-radius: 15px;
    box-shadow: 7px 15px 3px -10px #841300;
    position: absolute;
}
.squareTinyRed{
    margin-left: 11%;
    margin-top: 1%;
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
}
.squareTinyGreen{
    margin-left: 19%;
    margin-top: 1%;
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
}
.squareTinyOrange{
    margin-left: 15%;
    margin-top: 1%;
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: orange;
    position: absolute;
}
.squareTinyLight{
    margin-left: 38%;
    margin-top: 64%;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: white;
}
.blockMainLeftLeft{
    height: 693px;
    width: 100px;
    margin-left: 477px;
    margin-top: 7px;
    border-left: 4px solid #8f0800;
    background: linear-gradient(to right,#C82727, #da303d,#C82727);
    border-right: 4px solid #8f0800;
}
.squareInsideImage{
    width: 282px;
    height: 331px;
    background-color: white;
    position: absolute;
    margin-top: 195px;
    margin-left: 95px;
    border-radius: 10px 10px 10px 95px;
}
.squareInsideImage2{
    width: 210px;
    height: 220px;
    background-color: #A4AB96;
    position: absolute;
    margin-top: 230px;
    margin-left: 132px;
    border-radius: 6px;
    box-shadow: grey;
    box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.3) inset;
}
.blockMainInsideInsideTop2{
    background-color: #c82727;
    width: 375px;
    height: 175px;
    position: absolute;
    borer-top: 15px;
    box-shadow: -2px 7.5px 0px -2.5px #841311;
    border-bottom-right-radius: 228px 284px;
    border-top-left-radius: 65px 25px;
}
.circleDiv {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #67af7c;
    margin-top: -14px;
    margin-left: 352px;
    position: absolute;
    cursor: pointer;
}
.imagesLeft{
    display: flex;
}
.blocText{
    color: yellow;
    font-size: 66px;
}
.circleBlack{
    margin-left: 32%;
    margin-top: 4%;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: black;
}
.circleBlack2{
    margin-left: 88px;
    margin-top: 7%;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: black;
}
.squareImageRight{
    width: 500px;
    height: 122px;
    background-color: #A4AB96;
    position: absolute;
    margin-top: 180px;
    margin-left: 802px;
    border-radius: 6px;
    box-shadow: grey;
    box-shadow: -7px 2px 10px 1px rgba(0, 0, 0, 0.3) inset;
    font-family: Consolas;
}
.squareImageRightText{
    font-size: 22px;
    margin-left: 56px;
    color: #4d4141;
}
img.squareInsideImage2Img{
    width: 210px;
    height: 220px;
    opacity: 0.9;
    margin-top: 0px;
    border-radius: 15px;
}
.blockMainRightTop{
    justify-content: right;
    height: 104px;
    width: 329px;
    background-color: #c82727;
    margin-right: 66px;
    margin-top: -45px;
    box-shadow: 2px -10px 1px -5px #841311;
    border-top-right-radius: 103px 51px;
    border-top-left-radius : 15px;
}
#form-errors {
    color: #a32302;
    font-family:  consolas;
    font-weight: bold;
    margin-left: 50px;
    font-size:  20px;
}
.circleRed{
    margin-left: 40px;
    margin-top: 245px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #8c1805;
}
.play1{
    background-color: #211d1d;
    height: 119px;
    width: 30px;
    margin-top: 347px;
    border-radius: 5px;
    margin-left: 374px;
}
.play2{
    background-color: #211b1b;
    height: 30px;
    width: 119px;
    margin-top: -75px;
    border-radius: 5px;
    margin-left: 327px;
}
.line1{
    background-color: #020101;
    height: 5px;
    width: 60px;
    margin-left: 186px;
    margin-top: -37px;
    position:  absolute;
    border-radius: 2px;
}
.line2{
    background-color: #020101;
    height: 3px;
    width: 60px;
    margin-left: 186px;
    margin-top: -30px;
    position: absolute;
    border-radius: 2px;
}
.line3{
    background-color: #020101;
    height: 3px;
    width: 60px;
    margin-left: 186px;
    margin-top: -22px;
    position:  absolute;
    border-radius: 2px;
}
.line4{
    background-color: #020101;
    height: 3px;
    width: 60px;
    margin-left: 186px;
    margin-top: -15px;
    position: absolute;
    border-radius: 2px;
}
.line5{
    background-color: #020101;
    height: 5px;
    width: 60px;
    margin-left: 186px;
    margin-top: -9px;
    position:  absolute;
    border-radius: 2px;
}
.squareGreen{
    background-color: green;
    height: 70px;
    width: 190px;
    border-radius: 10px;
    margin-left:  56px;
    margin-top: -20px;
    box-shadow: -7px 7px 19px 8px rgba(27, 42, 21, 0.3) inset;
}
.touchBlack{
    margin-left: 49px;
    margin-top: -138px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #425242;
    position: absolute;
    box-shadow: -7px 2px 10px 1px rgba(0, 0, 0, 0.3) inset;
}
.lineBlack1{
    background-color: #dce02e;
    height: 8px;
    width: 69px;
    margin-left: 130px;
    margin-top: -130px;
    position: absolute;
    border-radius: 2px;
}
.lineBlack2{
    background-color: orange;
    height: 8px;
    width: 69px;
    margin-left: 200px;
    margin-top: -130px;
    position: absolute;
    border-radius: 2px;
}

.flex.wrappable {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}
.student-code, .exercise {
    width: 114%;
    margin-top: 140px;
    margin-left: 13px;
}
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item {
    color: #fff;
    font-size: 2em;
    margin: 5px;
    width: 99px;
    height: 70px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    background: #7289da;
    box-shadow: 5px 10px 20px -3px rgba(27, 19, 19, 0.3) inset;
}
.squareGreen2
{
    background-color: #295329;
    height: 100px;
    width: 190px;
    border-radius: 10px;
    margin-left: 293px;
    margin-top: 77px;
    box-shadow: -7px 7px 19px 8px rgba(27, 42, 21, 0.3) inset;
}
.squareGreen3 {
    background-color: #295329;
    height: 99px;
    width: 275px;
    border-radius: 10px;
    margin-left: 42px;
    box-shadow: -7px 7px 19px 8px rgba(27, 42, 21, 0.3) inset;
    margin-top: 75px;
}
.lineRight1{
    background-color: orange;
    height: 8px;
    width: 69px;
    margin-left: 381px;
    margin-top: 30px;
    position: absolute;
    border-radius: 2px;
}
.lineRight2{
    background-color: yellow;
    height: 8px;
    width: 69px;
    margin-left: 451px;
    margin-top: 30px;
    position: absolute;
    border-radius: 2px;
}
.ballRight{
    margin-left: 43px;
    margin-top: 12px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #9ba29b;
    position: absolute;
    box-shadow: -7px 2px 10px 1px rgba(0, 0, 0, 0.3) inset;
}
.ballRight1{
    margin-left: 110px;
    margin-top: 12px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #9ba29b;
    position: absolute;
    box-shadow: -7px 2px 10px 1px rgba(0, 0, 0, 0.3) inset;
}
.bar1 {
    background-color: #8c1610;
    height: 8px;
    width: 99.5px;
    margin-top: 67pw;
    margin-left: 0px;
    position:  absolute;
    margin-top: 602px;
    opacity: 0.6;
}
.bar2 {
    background-color: #8c1610;
    height: 8px;
    width: 99.5px;
    margin-top: 67pw;
    margin-left: 0px;
    position:  absolute;
    margin-top: 561px;
    opacity: 0.6;
}
.bar3 {
    background-color: #8c1610;
    height: 8px;
    width: 99.5px;
    margin-top: 67px;
    margin-left: 0px;
    position:  absolute;
    margin-top: 215px;
    opacity: 0.6;
}
.bar4 {
    background-color: #8c1610;
    height: 8px;
    width: 99.5px;
    margin-top: 67px;
    margin-left: 0px;
    position:  absolute;
    margin-top: 174px;
    opacity: 0.6;
}
.random{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-family: Consolas;
    margin-top: -50px;
    background-color: #e54545;
    margin-left: 1310px;
    border: solid;
    cursor: pointer;
    font-weight:  bold;
    margin-top: 5px;
    position: absolute;
}
.random2{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #e54545;
    margin-left: 1308px;
    margin-top: -77px;
    border: solid;
    cursor: pointer;
}
.random3{
    border-radius: 50%;
    height: 78px;
    width: 78px;
    background-color: grey;
    margin-left: 1298px;
    border: solid;
    cursor: pointer;
}
.up1{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    margin-left: 5px;
    opacity:  0.5;
}
.up2{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
    margin-top: 76px;
    margin-left: 5px;
    opacity:  0.5;
}
.up3 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid black;
    border-bottom: 10px solid transparent;
    margin-top: 3px;
    opacity:  0.5;
    position:  absolute;
}
.up4 {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid black;
    border-bottom: 10px solid transparent;
    margin-left: 97px;
    opacity:  0.5;
    margin-top: 2px;
    position:  absolute;
}
.lineFront{
    display: none;
}
#pokedex{
    display: none;
}
@media (max-width: 770px) {
    .blockMainRightTop {
        display: none;
    }

    .blockMainRight {
        display: none;
    }
    .squareInsideImage {
        display: none;
    }
    #input {
        display: none;
    }
    .squareImageRight{
        display: none;
    }
    .random,.random1,.random2,.random3{
        display: none;
    }
    #text{
        display: none;
    }
    .squareInsideImage2{
        display: none;
    }
    .button{
        display: none;
    }
    .squareGreen{
        display: none;
    }
    .touchBlack{
        display: none;
    }
    .lineBlack1,.lineBlack2{
        display: none;
    }
    .play1,.play2,.up1,.up2,.up3,.up4{
        display: none;
    }
    .squareTinyGreen{
        margin-left: 271px;
    }
    .squareTinyOrange{
        margin-left: 216px;
    }
    .squareTinyRed{
        margin-left: 162px;
    }
    .squareMain{
        margin-left: 190px;
    }
    .blockMainLeftLeft{
        width: 45px;
        margin-left: 532px;
    }
    .bar1,.bar2,.bar3,.bar4{
        width: 45px;
    }
    #pokedex{
        display: block;
        margin-left: 67px;
        position:  absolute;
        margin-top: 295px;
        font-family: pokemon-font;
        font-size: 75px;
        font-family: 'Rammetto One', cursive;
        color: #810b04;
    }
    #form-errors{
        display: none;
    }
    .lineFront{
        display: block;
        width: 400px;
        height: 22px;
        background-color: black;
        position:  absolute;
        margin-top: 620px;
        border-radius:  15px;
        margin-left: 67px;
        background-image: linear-gradient(#491212,#721313);
    }
}